.app {
  padding: 460px 0 35px;
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat center 176px,
              #1d2631 url("../img/bg-back-mobile@1x.jpg") no-repeat center top;
  text-align: center;
}

.app__link {
  margin: 22px 0 32px;
  display: inline-block;
  padding: 20px 36px;
  border: 3px solid #ffffff;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
}

.app__support {
  .list-unstyled;

  margin-bottom: 31px;
}

.app__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  color: #ffffff;
}
