.contacts {
  text-align: center;
  line-height: 1.25;
  padding-top: 40px;
}

.contacts__list {
  .list-unstyled
}

.contacts__item {
  padding-bottom: 25px;
}

.contacts__slogan {
  font-size: 24px;
  font-weight: 300;
}

.contacts__title {
  font-size: 18px;
  font-weight: 700;
}

.contacts__text {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  color: @color-pink;

  a {
    color: inherit;
  }
}

@media (min-width: @tablet-width) {
  .contacts__slogan {
    margin-bottom: 57px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contacts__item {
    width: 50%;
  }
}

@media (min-width: @desktop-width) {
  .contacts__item {
    width: 33.3%;
  }
}
