.contacts {
  padding-top: 40px;
  text-align: center;
  line-height: 1.25;
}

.contacts__list {
  .list-unstyled
}

.contacts__item {
  padding-bottom: 25px;
}

.contacts__slogan {
  margin: 0 0 35px;
  font-size: 24px;
  font-weight: 300;
}

.contacts__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
}

.contacts__text {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  color: @color-pink;

  a {
    color: inherit;
  }
}

.contacts__wrapper {
  display: block;
  padding-top: 15px;

  img {
    width: 100%;
  }
}

@media (min-width: @tablet-width) {
  .contacts {
    padding-top: 45px;
  }

  .contacts__slogan {
    margin-bottom: 40px;
    font-size: 40px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contacts__item {
    width: 300px;
    padding-bottom: 46px;

    &:last-child {
      width: 100%;
      padding-bottom: 15px;
    }
  }

  .contacts__text {
    margin-top: 5px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__item {
    width: 33.3%;
  }
}
