.footer {
  padding: 60px 0;

  &--hide {
    display: none;
  }
}

.footer__wrapper {
  text-align: center;
}

.footer__logo-link {
  display: inline-block;
  padding: 35px 0;

  img {
    display: block;
  }
}

.footer__develop {
  color: inherit;

  img {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
  }
}

@media (min-width: @tablet-width) {
  .footer {
    padding: 10px 0;

    &--hide {
      display: block;
    }
  }

  .footer__logo-link {
    margin-top: -15px;
    padding: 0;
  }

  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    min-height: 105px;
  }
}

@media (min-width: @desktop-width) {
  .footer__wrapper {
    min-height: 172px;
  }

  .footer__logo-link {
    margin-top: -20px;
  }

  .footer__develop {
    font-size: 18px;
  }
}
