.gallery__item {
  margin-bottom: 15px;
}

.gallery__text-wrapper {
  background-color: @color-gray;
  padding: 20px 14px 23px;
}

.gallery__title {
  margin: 0;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 300;
  text-transform: uppercase;

  b {
    font-weight: 700;
    text-transform: none;
  }
}

.gallery__comment {
  margin: 0 0 15px;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
}

.gallery__button-like {
  display: inline-block;
  padding: 0 0 0 20px;
  border: 0;
  background: transparent url("../img/icon-heart.svg") no-repeat left center;
  background-size: 13px auto;
  vertical-align: middle;
  font-family: inherit;
  color: @color-pink;
  font-size: 12px;
  line-height: 2;
  font-weight: 400;
  text-transform: uppercase;
}
