.gallery {
  .list-unstyled;

  &--day {
    margin-bottom: 21px;
  }
}

.gallery__item {
  width: 100%;
  margin-bottom: 20px;

  &:nth-child(5) .gallery__comment {
    margin-bottom: 8px;
  }
}

.gallery__link {
  display: block;

  &--img-day {
    position: relative;

    &::before {
     content:  "Панорама дня";
     position: absolute;
     top: 0;
     right: 20px;
     padding: 10px 20px 13px;
     background-color: @color-pink;
     font-size: 12px;
     line-height: 12px;
     font-weight: bold;
     color: #ffffff;
     text-transform: uppercase;
     text-align: center;
   }
  }
}

.gallery__image {
  display: block;
  width: 100%;
}

.gallery__text-wrapper {
  background-color: @color-gray;
  padding: 18px 17px 19px;
}

.gallery__title {
  margin: 0;
  font-size: 12px;
  line-height: 1.7;
  font-weight: 300;
  text-transform: uppercase;

  b {
    font-size: 14px;
    font-weight: 700;
    text-transform: none;
  }
}

.gallery__comment {
  min-height: 26px;
  margin: 0 0 5px;
  font-size: 14px;
  line-height: 1.75;
  font-weight: 400;
}

.gallery__button-like {
  display: inline-block;
  padding: 0 0 0 32px;
  background: url("../img/icon-heart.svg") no-repeat left center;
  background-size: 14px auto;
  vertical-align: middle;
  color: @color-pink;
  font-size: 11px;
  line-height: 2;
  letter-spacing: 0.59px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .gallery {
    display: flex;

    &--day {
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;
      overflow: hidden;

      .gallery__text-wrapper {
        padding: 25px 27px 20px;
        min-height: auto;
      }
    }

    &:not(&--day) {
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .gallery__text-wrapper {
    padding: 24px 27px 53px;
    position: relative;
    min-height: 154px;
  }

  .gallery__button-like {
    position: absolute;
    left: 0;
    bottom: 23px;
    width: 268px;
    padding: 0 30px 0 28px;
    background-position: right center;
    text-align: left;

    &--day {
      top: 24px;
      left: auto;
      right: 29px;
      bottom: auto;
      width: auto;
    }
  }

  .gallery__item {
    width: 300px;
  }

  .gallery__link--img-day {
    width: 700px;

    &::before {
      top: 57px;
      right: 40px;
    }
  }
}

@media (min-width: @desktop-width) {
  .gallery__link--img-day {
    width: 100%;

    &::before {
      top: 54px;
      right: 130px;
      padding: 11px 20px 13px;
    }
  }

  .gallery--day .gallery__text-wrapper {
    padding: 24px 28px 19px;
  }

  .gallery__item {
    margin-bottom: 55px;
  }

  .gallery__button-like--day {
    top: 25px;
    right: 32px;
  }
}
