.presentation {
  background-color: @color-gray;
}

.presentation__slogan-wrapper {
  padding: 40px 0 5px;
  background-color: #ffffff;
}

.presentation__slogan {
  margin: 0 0 28px;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
}

.presentation__comment-wrapper::after {
  content: "";
  display: block;
  width: 100%;
  height: 277px;
  margin-top: 42px;
  background: url("../img/iphone-screen-mobile@1x.png") no-repeat center top;
  background-size: 157px auto;
}

.presentation__comment {
  .list-unstyled;

  padding: 80px 0 0;
  text-align: center;
}

.presentation__comment-item {
  margin-bottom: 30px;
}

.presentation__comment-title {
  display: block;
  padding-bottom: 13px;
  line-height: 1.3;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.presentation__comment-text {
  margin: 0;
  line-height: 1.71;
}

.presentation__wrapper {
  display: none;
  background-color: #ffffff;
  padding-top: 60px;
}

.presentation__group {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &::before {
    content: "";
    display: inherit;
    width: 240px;
    height: 280px;
    background: url("../img/icon-timer.svg") no-repeat;
    background-size: 100% auto;
  }
}

.presentation__group-wrapper {
  width: 310px;
  padding-top: 35px;
}

.presentation__title {
  display: block;
  width: 200px;
  margin-bottom: 11px;
  line-height: 1.2;
  font-size: 30px;
  font-weight: 700;
  color: #000000;
}

.presentation__text {
  margin: 0 0 7px;
  line-height: 1.71;
}

.presentation__link {
  line-height: 1.3;
  text-decoration: underline;
  color: @color-pink;
}

@media (min-width: @tablet-width) {
  .presentation__slogan-wrapper {
    padding: 48px 0;
  }

  .presentation__slogan {
    margin: 0;
    font-size: 40px;
  }

  .presentation__comment-wrapper {
    position: relative;

    &::after {
      position: absolute;
      top: -40px;
      left: 0;
      width: 268px;
      height: 481px;
      background-image: url("../img/iphone-screen-3-tablet@1x.png");
      background-size: 100% auto;
    }

  }

  .presentation__comment {
    width: 310px;
    padding: 74px 0 8px;
    margin-left: auto;
    text-align: left;
  }

  .presentation__comment-item {
    margin-bottom: 34px;
  }

  .presentation__wrapper {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .presentation__slogan-wrapper {
    padding: 65px 0 80px;
  }

  .presentation__slogan {
    font-size: 50px;
  }

  .presentation__comment-wrapper::after {
    display: none;
  }

  .presentation__comment {
    width: 100%;
    margin-left: 0;
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .presentation__comment-item {
    width: 300px;
    padding: 0 30px;
    text-align: center;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 302px;
      margin: -3px 0 53px;
      background: url("../img/iphone-screen-2-desktop@1x.png") no-repeat center top;
      background-size: 292px auto;
    }

    &:first-child::before {
      background: url("../img/iphone-screen-1-desktop@1x.png") no-repeat center top;
    }

    &:last-child::before {
      background: url("../img/iphone-screen-3-desktop@1x.png") no-repeat center top;
    }
  }

  .presentation__comment-title {
    margin-bottom: 14px;
    font-size: 30px;
    line-height: 1;
  }

  .presentation__comment-text {
    font-size: 18px;
  }

  .presentation__wrapper {
    padding: 20px 0 65px;
    background-color: transparent;
  }

  .presentation__group-wrapper {
    width: 575px;
    padding-top: 91px;
  }

  .presentation__group::before {
    width: 300px;
    height: 348px;
  }

  .presentation__title {
    width: auto;
    margin-bottom: 20px;
  }

  .presentation__text {
    margin-bottom: 32px;
    font-size: 18px;
  }

  .presentation__link {
    font-size: 18px;
  }
}
