.price {
  background-color: @color-gray;
  text-align: center;
  padding: 91px 0 50px;
  overflow: hidden;
}

.price__list {
  .list-unstyled;

  display: flex;
  justify-content: center;
}

.price__item {
  flex-shrink: 0;
  width: 280px;

  &--title {
    display: none;
  }
}

.price__info {
  background-color: @color-default;
  padding: 25px 0;
}

.price__title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
  color: #ffffff;
  text-transform: uppercase;
}

.price__value {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  color: #ffffff;
  text-transform: uppercase;
}

.price__features {
  .list-unstyled;

  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  text-align: left;
}

.price__add {
  padding: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  text-transform: uppercase;

  &:not(:last-child) {
    border-bottom: 2px solid #e5e5e5;
  }
}

.price__button {
  .button-control(@color-gray);
}

@media (min-width: @tablet-width) {
  .price {
    padding: 90px 0 70px;
  }

  .price__item {
    width: 25%;

    &--title {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }

  .price__add {
    span {
      display: none;
    }
  }

  .price__buttons {
    display: none;
  }
}
