.review {
  text-align: center;
  padding: 54px 0 74px;
}

.review__list {
  .list-unstyled;
}

.review__name {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.review__button {
  .button-control(#ffffff);
}
