.social {
  .list-unstyled;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 34px;
  width: 250px;
}

.social__item {
  margin-right: 15px;
}

.social__link {
  display: block;
  border: 3px solid #e9ebec;
  border-radius: 100%;
  width: 50px;
  height: 50px;

  &--twitter {
    background: url("../img/icon-twitter.svg") no-repeat center center;
    background-size: 18px auto;
  }

  &--fb {
    background: url("../img/icon-facebook.svg") no-repeat center center;
    background-size: 9px auto;
  }

  &--youtube {
    background: url("../img/icon-youtube.svg") no-repeat center center;
    background-size: 13px auto;
  }
}

@media (min-width: @tablet-width) {
  .social {
    margin: 0;
  }
}
