.upload__wrapper {
  padding: 20px 20px 41px;
}

.upload__user-photo {
  display: block;
  width: 100%;
}

.upload__list-wrapper {
  margin-top: 40px;
}

.upload__list {
  .list-unstyled;

  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 65px;
}

.upload__item {
  margin-right: 29px;

  &:last-child {
    padding-top: 9px;
    margin: 0 0 0 10px;
  }
}

.upload__item-wrapper {
  width: 48px;
}

.upload__field {
  display: block;
  width: 48px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;

  svg {
    display: block;
    width: 100%;
    height: auto;
    fill: #e3e3e4;
  }

  &--crop {
    svg {
      fill: @color-pink;
    }
  }

  &--fill {
    padding: 3px 0 0 2px;
  }

  &--contrast {
    width: 32px;
    padding-left: 4px;
  }
}

.upload__text {
  text-align: center;
  padding: 19px 0 43px;
  margin: 0 0 0 -5px;
  font-size: 14px;
  font-weight: 400;
}

.upload__form {
  background-color: @color-gray;
  margin-bottom: 4px;
}

.upload__slider {
  position: absolute;
  top: 86px;
  left: 50%;
  width: 240px;
  margin-left: -122px;

  &--hide {
    display: none;
  }
}

.upload__button-group {
  padding: 38px 20px 0;
  margin: 0 -20px;
  border-top: 1px solid #dddfe0;
}

.upload__button {
  display: block;
  width: 100%;
  padding: 15px;
  border: 3px solid @color-pink;
  border-radius: 30px;
  background: transparent;
  vertical-align: middle;
  font-family: inherit;
  color: @color-pink;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 13px;
  }

  &--reset {
    border-color: #dddfe0;
    color: #e3e3e4;
    padding: 16px;
  }
}

@media (min-width: @tablet-width) {
  .upload__text {
    padding: 46px 0 65px;
    font-size: 18px;
    line-height: 1.8;
  }

  .upload__form {
    margin-bottom: 0;
  }

  .upload__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 59px 0 54px;
  }

  .upload__user-photo {
    width: 300px;
    height: 400px;
  }

  .upload__list-wrapper {
    width: 272px;
    margin-top: 8px;
  }

  .upload__item-wrapper {
    margin-right: 29px;
  }

  .upload__list {
    padding-bottom: 0;
  }

  .upload__item {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 0 25px;
    padding-bottom: 22px;
    border-bottom: 1px solid #dddfe0;

    &:last-child {
      padding: 1px 0 27px;
      margin: 0;
    }
  }

  .upload__item-wrapper {
    width: 24px;
  }

  .upload__field {
    width: 24px;

    svg {
      fill: @color-pink;
    }

    &--contrast {
      width: 20px;
    }
  }

  .upload__slider {
    position: static;
    width: 200px;
    margin-left: 0;

    &--hide {
      display: block;
    }
  }

  .upload__button-group {
    padding: 68px 14px 0 0;
    margin: 0;
    border-top: 0;
  }

  .upload__button:not(:last-child) {
    margin-bottom: 25px;
  }
}

@media (min-width: @desktop-width) {
  .upload__form {
    background-color: transparent;
    margin-bottom: 28px;
  }

  .upload__wrapper {
    width: 940px;
    padding: 57px 60px 58px 80px;
    background-color: @color-gray;
  }

  .upload__list-wrapper {
    width: 412px;
    margin-top: -3px;
  }

  .upload__item {
    margin: 0 0 12px;
    padding-bottom: 10px;

    &.upload__item:last-child {
      padding: 6px 0 18px;
      margin: 0;
    }
  }

  .upload__text {
    margin: 0;
    padding: 4px 0 64px;
    line-height: 1.77;
  }

  .upload__field {
    width: 48px;

    &--fill {
      width: 49px;
    }

    &--contrast {
      width: 37px;
      margin-left: 3px;
    }
  }

  .upload__slider {
    width: 288px;
    margin: -3px 0 0 41px;
  }

  .upload__button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 145px 0 0 0;
  }

  .upload__button {
    width: 183px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
