.list-unstyled() {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button-control(@color) {
  display: inline-block;
  height: 12px;
  width: 12px;
  padding: 0;
  border: 3px solid @color;
  border-radius: 100%;
  background-color: #bec2c7;

  &--current {
    background-color: transparent;
    border-color: #283645;
  }
}
